<div class="row">
    
    <div class="col-xs-4">
        {{#each left}}
            <div class="left widget {{this.type}}" id="{{this.id}}">
                <h3 class="widget-title light-text"> Loading {{this.type}} ... </h3>
            </div>
        {{/each}}
    </div>
    
    <div class="col-xs-4 col-xs-push-4">
        {{#each right}}
            <div class="right widget {{this.type}}" id="{{this.id}}">
                <h3 class="widget-title light-text"> Loading {{this.type}} ... </h3>
            </div>
        {{/each}}
    </div>
    
</div>


{{#if bottom}}
    <div class="widget bottom {{bottom.type}}" id="{{bottom.id}}">
		<h3 class="widget-title light-text"> Loading {{bottom.type}} ... </h3>
    </div>
{{/if}}
