<h2 class="widget-title">Monzo</h2>
<div class="widget-content">
    {{#if data}}
        <h3> {{data.currency}}{{data.balance}} </h3>
        <p> Today: {{data.currency}}{{data.today}} </p>
    {{else}}
        <p> <a href="auth/monzo" class="button"> Please login </a> </p>
    {{/if}}
</div
