<h2 class="widget-title"> Trello </h2>
<div class="widget-content">
	
	<p class="widget-heading">{{board.name}}</p>
    
    <ul>
    	{{#each cards}}
			<li>
				<span class="card-name">{{name}}</span>
			
				{{#if lists.length}}
					
					<ul>
					{{#lists}}
						<li> ({{complete}}/{{total}}) {{name}} </li>
					{{/lists}}
					</ul>
					
				{{/if}}
			
			</li>
			
		{{/each}}
    </ul>
    
</div>
